@{
    ViewBag.Title = "About";
}
<h2>Aplikacja "BIBLIOTEKA"</h2>

<p>Aplikacja ma na celu zaprezentowanie systemu zarządznia biblioteką.
    Jest to projekt zaliczeniowy z przedmiotu "Bazy Danych I" prowadzonego przez dr inż. Antoniego Dydejczyka.

    Wymagania postawione przez prowadzącą, dr Grażynę Krupińską: <br />
    -Informacje o książkach <br />
    -Informacje o autorach <br />
    -Informacje o wydawnictwach <br />
    -Informacje o czytelnikach <br />
    -Informacje o dziedzinie, której dotyczy książka (związek rekurencyjny) <br />
    -Informacje o dostępności książek i wszystko co z tym związane
    </p>
